name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - name: Install Hatch
      run: pipx install hatch
    - name: Run tests
      run: |
        hatch test --python 3.14
        hatch fmt --check
